<div class="grey-rectangle">

    <section class="section-block-education">

        <header>
            <div class="ribbon-bg-main"></div>
            <h5 class="education">EDUCATION</h5>
        </header>
        <div class="big-yellow-rectangle"></div>
        <div class="small-yellow-rectangle"></div>


        <div class="row enter-your-magor">
            <div class="col-6 ">
                <h6>ENTER YOUR MAJOR</h6>
                <p>Name Of Your University<br>2005-2009</p>
            </div>
            <div class="col-6 " >
                <h6>ENTER YOUR MAJOR</h6>
                <p>Name Of Your University<br>2005-2009</p>
            </div>
        </div>
    </section>


    <section class="section-block-experience">

        <header>
            <div class="ribbon-bg-main"></div>
            <h5 class="experience">EXPERIENCE</h5>
        </header>
        <div class="big-yellow-rectangle"></div>
        <div class="small-yellow-rectangle"></div>

        <div class="enter-job-1">
            <h6>Enter Job Position Here</h6>
            <h6 class="company-name"><span class="present">Present</span> Company Name / Location</h6>
            <p>Lorem ipsum dolor sit amet, this is a thena consectetur
                adipisicing elit, sed do eiusmod tempor incididunt ut labore
            </p>
        </div>

        <div class="enter-job-2">
            <h6>Enter Job Position Here</h6>
            <h6 class="company-name"><span class="years">2017 - 2019</span> Company Name / Location</h6>
            <p>Lorem ipsum dolor sit amet, this is a thena consectetur
                adipisicing elit, sed do eiusmod tempor incididunt ut labore
            </p>

        </div>

    </section>

    <section class="section-block-expertise">

        <header>
            <div class="ribbon-bg-main"></div>
            <h5 class="expertise">EXPERTISE</h5>
        </header>
        <div class="big-yellow-rectangle"></div>
        <div class="small-yellow-rectangle"></div>


        <div id="expertiseList" class="expertise-list"></div>

    </section>
</div>