@use "../components/sidebar/sidebar";
@use "../components/main-content/main-content";
@use "../components/header/header";
@use  "variables" as v;


.resume-bg {
  background: v.$resume-bg;
}

.resume-inner {
  max-width: 870px;
  margin: 120px auto 90px auto ;
  background-color: v.$white;
  box-shadow: 0 0 50px v.$shadow;
  position: relative;
}

.footer-colum-1{
  padding-top: 27px;
}

.footer-colum-2{
  background-color: v.$yellow;
}

@media screen and (width<=767px) {
  .resume-inner{
    width: 696px;
  }
  body{
    overflow-x: auto;
  }
}

