<aside>
    <section class="section-block-about">

        <header class="about-header">
            <div class="ribbon-bg-sidebar"></div>

            <H3 class="about-me">
                ABOUT <span class="dots">...</span><span class="me-extra">ME</span>
                <span id="arrow" class="arrow">▼</span>
            </H3>
        </header>

        <div class="big-yellow-rectangle"></div>
        <div class="small-yellow-rectangle"></div>

        <p id="aboutText" class="about-text">
            Lorem ipsum dolor a
            consectetur adipiscing elitse
            eiusmod tempor incididunt
            labore dolore magna aliqua.
            Quis ipsum suspendisse
            ultrices gravida. Risus
            commodo viverra maecenas
            accumsan is facilisis the
            dolore magna aliqua dolore
            magna aliqua dolore magna
            aliqua.
        </p>

    </section>

    <div class="row">
        <section class="section-block-contact">

            <header>
                <div class="ribbon-bg-sidebar"></div>
                <H3 class="contact-info">CONTACT <span class="dots">...</span><span class="info-extra">INFO</span></H3>
            </header>
            <div class="big-yellow-rectangle"></div>
            <div class="small-yellow-rectangle"></div>


            <h6 class="phone">PHONE</h6>
            <p>+000 123 456 789</p>

            <h6 class="email">EMAIL</h6>
            <p>urname@gmail.com</p>

            <h6 class="area">AREA</h6>
            <p class="address">Your Street Address Here</p>
        </section>
    </div>

    <div class="row">
        <section class="section-block-hobbies">

            <header>
                <div class="ribbon-bg-sidebar"></div>
                <H3 class="hobbies">HOBBIES</H3>
            </header>
            <div class="big-yellow-rectangle"></div>
            <div class="small-yellow-rectangle"></div>

            <div class="icons">
                <div class="d-flex justify-content-around flex-wrap">

                    <div class="hobby-item">
                        <div class="hobby-icon"><i class="fas fa-globe-americas"></i></div>
                        <p>Travel</p>
                    </div>

                    <div class="hobby-item">
                        <div class="hobby-icon"><i class="fas fa-headphones"></i></div>
                        <p>Music</p>
                    </div>

                    <div class="hobby-item">
                        <div class="hobby-icon"><i class="fas fa-file-edit"></i></div>
                        <p>Writing</p>
                    </div>

                    <div class="hobby-item">
                        <div class="hobby-icon"><i class="fas fa-chess-knight"></i></div>
                        <p>Chess</p>
                    </div>
                </div>
        </section>
    </div>

</aside>